body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: rgb(104, 65, 196);
}

.nav-menu {
  border-bottom: 1px solid white;
}

header .bg-offcanvas {
  background: #15d4a5;
}

.nav-item a {
  color: white;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  position: relative;
  display: block;
  transition: all 500ms ease;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 0%;
  left: 0;
  height: 2px;
  background: red;
  display: block;
  transition: all 500ms ease;
}

header nav ul li a:hover {
  scale: 1.1;
  color: blueviolet;
}

header nav ul li a:hover::after {
  width: 100%;
}

.btn {
  margin-right: 20px;
  border-radius: 20px;
  transition: all 500ms ease;
}

.btn:hover {
  scale: 1.1;
  color: rgb(187, 231, 27);
}

.p-y__100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section1 .text-left {
  text-align: left !important;
}

.section1 img {
  rotate: -30deg;
  width: 60%;
  padding-top: 100px;
}

.section-2 img {
  padding: 20px;
  border: 1px solid rgb(88, 88, 235);
  border-radius: 20px;
  background: rgb(108, 129, 175);
}

.section-2 .col:hover {
  scale: 1.1;
  opacity: 0.7;
  transition: all 500ms ease-in;
  cursor: pointer;
}

.section3 .d-grid {
  border: 1px solid red;
  grid-template-columns: auto auto auto;
}
.section3 img {
  border: 1px solid blue;
  padding: 30px;
  border-radius: 10px;
}
.section3 .text-left {
  text-align: left !important;
}

.section-4 {
  background: linear-gradient(to right, rgb(53, 53, 172), rgb(211, 194, 194));
}

.note {
  text-transform: uppercase;
  font-weight: bold;
  color: pink;
  background: linear-gradient(to right, #e40b0b, #aaa);
  -webkit-background-clip: text;
}

.cat-icon {
  width: 90px;
  margin: auto;
  color: rgb(49, 69, 180);
  font-size: 3em;
  border: 1px solid rgb(80, 130, 223);
  border-radius: 50%;
  text-align: center !important;
}

.cat-cap {
  text-align: center;
}
.cat-cap a {
  text-decoration: none;
}
.cat-cap p span a {
  color: rgb(187, 231, 27);
}
.cat-cap h4 a {
  color: white;
}

.single-cat .cat-cap p a:hover {
  color: red !important;
}

.single-cat {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  width: 300px;
  height: 300px;
  background-color: rgb(141, 89, 224);
  border-radius: 20px;
  position: relative;
  z-index: 9999;
}
.single-cat::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(14, 69, 153);
  border-radius: 20px;
  rotate: 5deg;
}

.single-cat:hover {
  background: white;
  transition: all 1s ease-in;
}
.single-cat:hover h4 a {
  color: #15d4a5;
  transition: all 1s ease-in;
}

.section-5 {
  margin-top: 100px;
}
.section-5 .bg__gray {
  background: #aaa;
}
.section-5 .img-center {
  text-align: center;
  width: fix-content;
}

.section6 {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 40px;
  background: rgb(79, 79, 133);
}

footer i {
  opacity: 0.5;
}
footer i:hover {
  scale: 1.1;
  opacity: 1;
  color: aliceblue;
  transition: all 500ms ease-in;
}

@media only screen and (max-width: 412px) {
  .section1 div, .section-2 .row, .section3 .row, .section-4 .row {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-items: center;
  }
  .section1 img {
    rotate: 0deg !important;
    width: 100% !important;
    padding-top: 10px !important;
    border: 1px solid red;
  }
  .section1 .col-sm-12 {
    width: 100vh;
  }
  .section3 img {
    display: none;
  }
  .section-4 .row:last-child {
    padding-left: 60px;
  }
  .section-5 .col-img {
    display: block;
    display: none;
  }
  .section-5 .row .fs-sm {
    font-size: 1em !important;
  }
  .section6 {
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .section1 img {
    padding-top: 50px !important;
    rotate: 0deg !important;
    width: 80% !important;
  }
  .section1 h1 {
    padding: 0;
    font-size: 1.2em !important;
  }
  .section1 p {
    font-size: 1em !important;
  }
  .section1 p.py-5 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .section1 button {
    font-size: 1em !important;
  }
  .section-2 .col img {
    width: 80%;
    height: 82%;
  }
  .section-2 .col h3 {
    font-size: 1.2em !important;
  }
  .section-2 .col p {
    font-size: 1em !important;
  }
  .section3 .row {
    display: grid !important;
    grid-template-columns: auto !important;
  }
  .section3 .row img {
    width: 70% !important;
  }
  .section3 .row div p {
    font-size: large !important;
  }
  .section3 .row div p.note {
    font-size: 1em !important;
  }
  .section3 .row h2 {
    font-size: x-large !important;
  }
  .section-4 .container {
    margin: 10px !important;
    width: 100%;
  }
  .section-4 .container .p-y__100 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .section-4 .container .p-y__100 .col-md-6 {
    display: flex;
    flex-wrap: wrap;
  }
  .section-4 .container .p-y__100 .col-md-6 .single-cat {
    width: 200px;
    height: 200px;
  }
  .section-4 .container .p-y__100 .col-md-6 .single-cat .cat-icon {
    font-size: 2em;
  }
  .section-4 .container .p-y__100 .col-md-6 .single-cat .cat-cap p {
    font-size: 1em !important;
  }
  .section-5 h1 {
    font-size: 2em !important;
  }
  .section-5 p {
    font-size: 1em !important;
  }
  .section-5 button {
    font-size: medium !important;
  }
  .section6 {
    margin: auto;
  }
}
@media only screen and (max-width: 989px) {
  .section1 img {
    width: 80% !important;
  }
  .section3 img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */